@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mostra/nascondi il menu quando il checkbox è selezionato */
#toggleMenu:checked ~ #navbar-sticky {
	display: block;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Stili personalizzati per l'effetto di sfumatura */
.scroll-gradient {
	position: relative;
}

.scroll-gradient::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px; /* Altezza dell'effetto di sfumatura */
	pointer-events: none; /* Permetti il passaggio degli eventi al contenuto sottostante */
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		#ffba1c
	); /* Gradient trasparente a bianco */
}

/* Aggiungi questa classe nel tuo file CSS */
.expand-animation {
	transition: max-height 0.5s ease-in-out;
}
